{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'login/login.css' %}">
    <script src="{% static 'login/password.js' %}"></script>
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form methos="POST" id="formlogin">
                <input type="password" placeholder="password" id="password"/>
                <input type="submit" value="login">
                <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>
        </div>
    </div>
</body>
